* {
  font-family: "Open sans", sans-serif;
  margin: 0;
  padding: 0;
}

#logo {
  text-align: center;
  height: 20vh;
}

#logo h1 {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #393939;
  font-family: Sacramento;
  font-size: 4em;
  letter-spacing: 1.5px;

}

#header {
  background-image: url('../pics/img_apartement.jpeg');
  background-size: cover;
  background-position: center;
  height: 75vh;

}

#header h1 {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-left: 12%;
  color: #393939;
  font-size: 5em;
  font-weight: 600;
}

#nav {
  height: 5vh;

}

#nav ul {
  list-style: none;
  height: 100%;
  width: 100%;
  text-align: center;
  border: 2px solid black;
}

#nav ul li {
  display: inline;
  height: 100%;
  padding-left: 4%;
}

#nav ul li a {
  text-decoration: none;
  color: #393939;
  height: 100%;

}
